@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
  body {
    margin: 0;
    padding: 0;
    background-image: url('https://res.cloudinary.com/dmxjvj0mh/image/upload/v1711644137/init.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  body {
      background-image: url('https://res.cloudinary.com/dmxjvj0mh/image/upload/v1711646003/location-mobile.jpg');
      background-size: cover;
  }
}

/* 使用相对单位设置背景图像大小和位置 */
@media only screen and (max-width: 768px) {
  body {
      background-size: cover;
      background-position: left; /* 居中显示 */
  }
}
.nav{
  background-color: #303439; /* 背景顏色 */
  color: #fff; /* 文字顏色 */
  padding: 10px 20px; /* 內邊距 */
  width: 100%; /* 寬度100% */
  position: fixed; /* 固定位置 */
  top: 20px; /* 與頂部距離為0 */
  left: 0; /* 與左側距離為0 */
  z-index: 9999; /* 堆疊順序，確保在最上層 */
}
h1{
  text-align: center;
  background-color: #303439; /* 背景顏色 */
    color: #fff; /* 文字顏色 */
    padding: 10px 20px; /* 內邊距 */
    width: 100%; /* 寬度100% */
    top: 0; /* 與頂部距離為0 */
    left: 0; /* 與左側距離為0 */
    z-index: 9999; /* 堆疊順序，確保在最上層 */
    font-size: medium;
}
.navbar ul{
  list-style-type: none;
  background-color: rgb(122, 120, 120);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color: hsl(0, 2%, 76%);
}
.navbar li{
  float: left;
}

.heading{
  width:90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin:20px auto;
}

.heading h4{
  font-size:35px;
  color:#000;
  margin-bottom: 25px;
  position:relative;
}

.heading h4::after{
  content:"";
  position: absolute;
  width:100%;
  height: 4px;
  display: block;
  margin: 0 auto;  
}

.heading p{
  font-size: 18px;
  color:#666;
  margin-bottom: 35px;
}

.container{
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}

.about-map{
  flex:1;
  overflow: hidden;
  align-items: center;
}

.navbar li{
  float: left;
  font-family: "Microsoft JhengHei";
  font-size: 14px;
}
