@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
  body {
    margin: 0;
    padding: 0;
    background-image: url('init.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
}

@media only screen and (max-width: 768px) {
  body {
      background-image: url('form-background-mobile.jpg');
      background-size: cover;
  }
}

/* 使用相对单位设置背景图像大小和位置 */
@media only screen and (max-width: 768px) {
  body {
      background-image: url('form-background-mobile.jpg');
      background-size: cover;
      background-position: left; /* 居中显示 */
      margin-top: 5px;
  }
  .container{
    /*margin: 0 0 0; 
    margin-top: 0px;
  margin-bottom: 0px;
  */
  }
}

.nav{
  background-color: #303439; /* 背景顏色 */
  color: #fff; /* 文字顏色 */
  padding: 10px 20px; /* 內邊距 */
  width: 100%; /* 寬度100% */
  position: fixed; /* 固定位置 */
  top: 20px; /* 與頂部距離為0 */
  left: 0; /* 與左側距離為0 */
  z-index: 9999; /* 堆疊順序，確保在最上層 */
}

h1{
  text-align: center;
  background-color: #303439; /* 背景顏色 */
    color: #fff; /* 文字顏色 */
    padding: 10px 20px; /* 內邊距 */
    width: 100%; /* 寬度100% */
    top: 0; /* 與頂部距離為0 */
    left: 0; /* 與左側距離為0 */
    z-index: 9999; /* 堆疊順序，確保在最上層 */
    font-size: medium;
}
.navbar ul{
  list-style-type: none;
  background-color: rgb(122, 120, 120);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color: hsl(0, 2%, 76%);
}
.navbar li{
  float: left;
}



.container{
  max-width: 550px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 25px 60px;
  margin: auto; 
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  
}

.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #6a626d);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #d9d9d9;
}
 form .guest-side .side-title{
  font-size: 15px;
  font-weight: 450;
 }
 form .category{
   display: flex;
   width: 56%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two{
   background: #9b59b6;
   border-color: #d9d9d9;
 }

 form .attendance-details .attendance-title{
  font-size: 15px;
  font-weight: 450;
 }
 form .a-category{
   display: flex;
   width: 56%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .a-category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .a-category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #adot-1:checked ~ .a-category label .one,
 #adot-2:checked ~ .a-category label .two{
   background: #414041;
   border-color: #d9d9d9;
 }

 form .invitation-details .invitation-title{
  font-size: 15px;
  font-weight: 450;
 }
 form .i-category{
   display: flex;
   width: 56%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .i-category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .i-category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #idot-1:checked ~ .i-category label .one,
 #idot-2:checked ~ .i-category label .two{
   background: #414041;
   border-color: #d9d9d9;
 }

 form .stay-details .stay-title{
  font-size: 15px;
  font-weight: 450;
 }
 form .s-category{
   display: flex;
   width: 56%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .s-category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .s-category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #sdot-1:checked ~ .s-category label .one,
 #sdot-2:checked ~ .s-category label .two{
   background: #414041;
   border-color: #d9d9d9;
 }
 
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0;
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #bbc4ca, #837f84);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #4b555b, #363038);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.submited {
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  display: inline-block;
}

.submited-text {
  text-align: center;
  display: none;
  animation: pulse 1s infinite;
}


form .button input.no-hover:hover {
  background: linear-gradient(135deg, #bbc4ca, #837f84);
}
/*

form .button{
  display: none;
}
*/